input/train
input/test
input/train_masks
input/zip
input/*.csv
input/img
input/img_act
input/car_and_dog - orig
ref/



# Temporary/generated/setting files.
.ipynb_checkpoints
.vscode
events.out.*
*.pyc

# Temporary exlusions
*.pdf
images/img
images/img_act
input/exp
*.hdf5
subm/
